html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fimage.biaobaiju.com%2Fuploads%2F20190227%2F22%2F1551277672-rtvPZeCFnj.jpg&refer=http%3A%2F%2Fimage.biaobaiju.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1620538593&t=58a2f6e28f6bd8177145b0f59ae8fc79")no-repeat center center ;
    -webkit-background-size: cover; /* 针对Chrome, Safari, Edge等浏览器 */
    -moz-background-size: cover;    /* 针对Firefox浏览器 */
    -o-background-size: cover;      /* 针对Operallq */
    background-size: cover;         /* 通用 */
}
#intro2 {
    height: 100%;
}

#intro2 {
    background: url("https://hcr1lcy.github.io/web1.io/0122-15/assets/images/index9.jpg")no-repeat center center ;
    -webkit-background-size: cover; /* 针对Chrome, Safari, Edge等浏览器 */
    -moz-background-size: cover;    /* 针对Firefox浏览器 */
    -o-background-size: cover;      /* 针对Operallq */
    background-size: cover;         /* 通用 */
}
#intro3 {
    background: url("https://hcr1lcy.github.io/web1.io/0122-15/assets/images/index8.jpg")no-repeat center center ;
    -webkit-background-size: cover; /* 针对Chrome, Safari, Edge等浏览器 */
    -moz-background-size: cover;    /* 针对Firefox浏览器 */
    -o-background-size: cover;      /* 针对Operallq */
    background-size: cover;         /* 通用 */
}
#intro4 {
  background:  url("https://hcr1lcy.github.io/web1.io/0122-15/assets/images/index3.jpg") no-repeat center center ;
  -webkit-background-size: cover; /* 针对Chrome, Safari, Edge等浏览器 */
  -moz-background-size: cover;    /* 针对Firefox浏览器 */
  -o-background-size: cover;      /* 针对Operallq */
  background-size: cover;         /* 通用 */
}


#intro5 {
  height: 100%;
}
#intro5 {
  background:  url("https://hcr1lcy.github.io/web1.io/0122-15/assets/images/index7.jpg") no-repeat center center fixed ;
  -webkit-background-size: cover; /* 针对Chrome, Safari, Edge等浏览器 */
  -moz-background-size: cover;    /* 针对Firefox浏览器 */
  -o-background-size: cover;      /* 针对Operallq */
  background-size: cover;         /* 通用 */
}
/* Required for full background image */

/* Required for full background image */
html,
body,
header,
.view1 {
  height: 100%;
}

@media (max-width: 600px) {
  html,
  body,
  header,
  .view1 {
    height: 100%;
  }
}

.top-nav-collapse {
  background-color: #563e91 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #563e91 !important;
  }
}

.rgba-gradient {
  background: -moz-linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
  background: -webkit-linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
  background: linear-gradient(to 45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
}

