html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fimage.biaobaiju.com%2Fuploads%2F20190227%2F22%2F1551277672-rtvPZeCFnj.jpg&refer=http%3A%2F%2Fimage.biaobaiju.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1620538593&t=58a2f6e28f6bd8177145b0f59ae8fc79")no-repeat center center ;
    -webkit-background-size: cover; /* 针对Chrome, Safari, Edge等浏览器 */
    -moz-background-size: cover;    /* 针对Firefox浏览器 */
    -o-background-size: cover;      /* 针对Operallq */
    background-size: cover;         /* 通用 */
}
#intro2 {
    height: 100%;
}

#intro2 {
    background: url("https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fpic1.win4000.com%2Fwallpaper%2Fa%2F58097f6fcc70a.jpg&refer=http%3A%2F%2Fpic1.win4000.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1620469556&t=55819eb8777ecf197ae11f41ed885a1c")no-repeat center center ;
    -webkit-background-size: cover; /* 针对Chrome, Safari, Edge等浏览器 */
    -moz-background-size: cover;    /* 针对Firefox浏览器 */
    -o-background-size: cover;      /* 针对Operallq */
    background-size: cover;         /* 通用 */
}
#intro3 {
    background: url("https://gimg2.baidu.com/image_search/src=http%3A%2F%2F5b0988e595225.cdn.sohucs.com%2Fimages%2F20180214%2F8320f1a45bff4ad585cc1f1e54397adb.jpeg&refer=http%3A%2F%2F5b0988e595225.cdn.sohucs.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1620472317&t=166f156cc7b9d4b7a981f792855d1138")no-repeat center center ;
    -webkit-background-size: cover; /* 针对Chrome, Safari, Edge等浏览器 */
    -moz-background-size: cover;    /* 针对Firefox浏览器 */
    -o-background-size: cover;      /* 针对Operallq */
    background-size: cover;         /* 通用 */
}
#intro4 {
  background:  url("https://huang-chapai.gitee.io/myweb1/MYMDB/MDB-Pro-4.12/img/sample.jpg") no-repeat center center ;
  -webkit-background-size: cover; /* 针对Chrome, Safari, Edge等浏览器 */
  -moz-background-size: cover;    /* 针对Firefox浏览器 */
  -o-background-size: cover;      /* 针对Operallq */
  background-size: cover;         /* 通用 */
}


#intro5 {
  height: 100%;
}
#intro5 {
  background:  url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%283%29.jpg") no-repeat center center fixed ;
  -webkit-background-size: cover; /* 针对Chrome, Safari, Edge等浏览器 */
  -moz-background-size: cover;    /* 针对Firefox浏览器 */
  -o-background-size: cover;      /* 针对Operallq */
  background-size: cover;         /* 通用 */
}
/* Required for full background image */

/* Required for full background image */
html,
body,
header,
.view1 {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.top-nav-collapse {
  background-color: #563e91 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #563e91 !important;
  }
}

.rgba-gradient {
  background: -moz-linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
  background: -webkit-linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
  background: linear-gradient(to 45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
}